.forecast-bar {
  height: 13vh;
  padding-top: 5px;  
  border-bottom: 4px solid #0200ab;

}
.current {
  font-size: 3.5em;
}
#location-inner {
  font-size: 3em;
  width: 90%; 
}
.black-box {
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 0 30px;   /* 👈 creates the side margins */
  box-sizing: border-box; /* prevents overflow */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
main {
  aspect-ratio: 16/9;
  background: linear-gradient(
    148deg,
    rgba(0, 181, 248, 1) 2%,
    rgba(0, 124, 214, 1) 35%,
    rgba(2, 0, 171, 1) 75%
  );
  width:calc(100vw - 30px);
  height: 73%;
  margin-left: 25px;
  margin-right: 25px;
}
.top-nav {
  flex: 0 0 12%;
}
.support {
    text-shadow: 2px 2px #333333;

}
nav {
  display: flex;
  background-color: #e6e6e6;
  height: 13%;
  width: 100vw;
  width:calc(100vw - 30px);
}
nav > div {
  flex: 1;

 /* actual borders */
border-bottom: 3px solid white; /* keep bottom if you want */
  /* remove left border */
  border-right: 6px solid white;

  /* black overlay on left */
  box-shadow: -3px 0 0 0 #6f6f6f,
    2px 0 4px -2px rgba(0,0,0,0.5);  /* right soft gradient */
}
.blank {
  border-left: none;
  box-shadow:     2px 0 4px -3px rgba(0,0,0,0.5);

}
.settings {
  border-right: none;
}
.upper-time {
  padding: 42px;
}
#temp {
  font-size: 7em;
}
.forecast-info {
  gap: 50px;
  width: 100%;
}
.forecast-bar {
  margin-top: 5px;
}
.bottom-nav {
margin-top: 5px;
}
.forecast-image {
  width: 100%;
  margin-left: -100%;
}
.forecast-container {
  height: 77%;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 17%;
  margin-right: 8.5vw;
  margin-top: -5vh;

}
.winds {

      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Fades to white at the bottom */
  width: 50vw;
  height: 13%;
  display: flex;
  align-items: center;
  margin-bottom: -9px;
  justify-content: center;
  margin-right: 216px !important;
}

.winds p {
  font-size: 2.5em;
  margin: 0;
}
.forecast-footer {
  margin-top: -25px;
  height: 6%;
}
