.black-box {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed; /* always stays in place */
  top: 0; /* stick to top */
  left: 0; /* stick to left */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensures overlap */
  flex-direction: column;
}
main {
  aspect-ratio: 16/9;
  background: linear-gradient(
    148deg,
    rgba(0, 181, 248, 1) 2%,
    rgba(0, 124, 214, 1) 35%,
    rgba(2, 0, 171, 1) 75%
  );
  width: 100vw;
  height: 52%;
}

nav {
  background-color: red;
  height: 9.5%;
  width: 100vw;
}
.forecast-info {
  width: 100%;
}
.forecast-bar {
  margin-top: 5px;
}
.bottom-nav {
  margin-top: -0.5%;
}
.forecast-image {
  width: 100%;
  margin-left: -100%;
}
.forecast-container {
  height: 76%;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 30%;


}

.winds {
  background-color: black;
  width: 50vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winds p {
  font-size: 24px;
  margin: 0;
  margin-left: 25%;
}
.forecast-footer {
  height: 5%;
}
