.black-box {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;   /* always stays in place */
  top: 0;            /* stick to top */
  left: 0;           /* stick to left */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;     /* ensures overlap */
}
main {
    aspect-ratio: 16/9;
    background: linear-gradient(
    148deg,
    rgba(0,181,248,1) 2%,
    rgba(0,124,214,1) 35%,
    rgba(2,0,171,1) 75%
  );
  width: 100vw;
  height: 52%;
}
